body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: white;
}

.informacao-de-qualidade {
    background-color: black;
    color: whitesmoke;
    width: 97vw;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    padding-bottom: 5px;

}

.container {
    width: 80%;
    margin-left: 40px;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;

}

.container>input {
    height: 30px;
    width: 1000px;
    border: 2px solid #00e6c7;
    border-radius: 0px;
    margin-left: 150px;
}

.header {
    color: #32b9cd;
    border-bottom: 3px solid #32b9cd;
    /* border: 3px solid yellow; */
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid pink; */
}

.header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.678);
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: rgba(0, 0, 0, 0.74);
    /* border: 3px solid green; */
}

.navbar>li {

    justify-content: space-evenly;
    margin-left: 50px;

}

/* BANNER */

.banner {
    height: 580px;
    color: white;
    /* border: 3px solid yellow; */
    background-image: url(".././assets/imgs/mulher-olhando-para-o-lado_multivitaminico.png");

    background-size: cover;
}

.banner>img {
    margin-left: 50px;
    margin-top: 50px;
}

.banner .container {
    /* border: 3px solid green; */
    height: 400px;
    display: flex;
    align-items: center;
}

.banner p {
    /* border: 3px solid cyan; */
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
    margin-left: 350px;
}

.banner span {
    font-weight: 800;
}

.comercial {
    background-color: #e5e5e5;
    /* border: 3px solid yellowgreen; */
    padding: 50px 0;
    justify-content: flex-end;
}

.comercial .container {
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    /* border: 3px solid blue; */
}

/* usar este bloco para explicar margin e padding*/
.comercial .titulo {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.comercial h2 {
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: #212124;
    margin: 0;
    /* border: 3px solid orange; */
}

.comercial .boxes {
    display: flex;
    /* border: 3px solid blue; */
}

.comercial .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
    /* border: 3px solid yellow; */
}

.comercial .box img {
    width: 150px;
    align-self: center;
}

.comercial .box h4 {
    color: #3d00e6;
    margin-top: 40px;
}

/* Rodapé */

.footer {
    background-color: aquamarine;
    height: 120px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 158vh;
}


.footer .container {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
}

.footer>.container>a {
    color: black;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
}

h4 {
    margin: 0;
    padding: 0;
}

/* LOGIN */

.banner-login {
    color: rgb(187, 25, 25);
    height: 650px;
    /* border: 3px solid yellow; */
    background-image: url(".././assets/imgs/banner-fundo.jpeg");
    background-size: cover;
}

.banner-login .container {
    height: 550px;
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-login {
    color: black;
    margin-left: 20px;
}

.banner-login .card {
    background-color: rgb(117, 194, 41);
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0, 0, 0, 0;
    margin: 0, 0, 0, 0;
    align-self: center;
    border-radius: 0px;
    margin-left: 110px;
    margin-bottom: 40px;
    margin-top: 90px;
}

.banner-login a {
    color: black;
    text-decoration: none;
    margin: 0px;
}

.banner-login #div_erros_login {
    margin-top: 15px;
    margin: 0px;
}

button {
    cursor: pointer;
}

/* FORMULARIO */

input {
    height: 30px;
    width: 200px;
    border: 1px ridge #406b33;
    border-radius: 20px;
    padding: 0px, 0px, 0px, 150px;
    margin: 0px;
}


.btn {
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #0400e6;
    width: 120px;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
}

.loading-div {
    width: 50px;
    /* border: 3px solid pink; */
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
    display: flex;
    width: 100vw;
    /* height: 100vh; */
}

.header-left a {
    text-decoration: none;
    color: white;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid #32b9cd;
    background-color: #212124;
    /* border: 3px solid pink; */
}

.dash-right {
    display: flex;
    width: 75%;
    height: fit-content;
    background-color: #161618;
    position: relative;
    top: 0;
    left: 25%;
}

.header-left h1 {
    color: #32b9cd;
}

.hello {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hello h3 {
    color: #e3b062;
    font-weight: 300;
    font-size: 1.2rem;
}

.hello h3 span {
    font-weight: 800;
}

.btn-nav {
    width: 40%;
    color: rgb(105, 30, 30);
    background-color: #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
}

.btn-nav-white {
    width: 40%;
    background-color: white;
    border: 3px solid #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
}

.btn-nav-white h3 {
    color: #e6005a;
    padding: 0;
    margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
    margin: 0;
    padding: 0;
}

.btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #32b9cd;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
    color: white;
}

.produtos {
    height: 500px;
}

.linhas_growth {
    width: 100%;
    height: 400px;
    background-color: rgb(0, 255, 221);
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-right: 20px;

}

.produtos.parceiros {
 display: flex;
 align-items: center;
 justify-items: center;
 justify-content: center;
 
}

.linhas_growth img {
    height: 200px;
    display: flex;
    align-content: center;
    padding-top: 70px;
    margin-right: 70px;
   padding-bottom: 50px;

}

.linhas_maxtitanium {
    width: 100%;
    height: 300px;
    background-color: rgb(0, 255, 221);
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-right: 20px;
}

.growth_p1 {
    display: flex;
    justify-content: right;
    align-items: center;
  

} 

.linhas_maxtitanium img {
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 70px;
    margin-right: 70px;
   padding-bottom: 50px;
}

.linhas_ultrafarma {
    width: 100%;
    height: 300px;
    background-color: rgb(0, 255, 221);
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-right: 20px;
}

.linhas_ultrafarma img {

    height: 200px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 70px;
    margin-right: 70px;
   padding-bottom: 50px;

}

.linhas_integralmedica {
    width: 100%;
    height: 300px;
    background-color: rgb(0, 255, 221);
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-right: 20px;

}

.linhas_integralmedica img {
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 70px;
    margin-right: 70px;
   padding-bottom: 50px;
}

.linhas_puravida {
    width: 100%;
    height: 300px;
    background-color: rgb(0, 255, 221);
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-right: 20px;


}

.linhas_puravida img {
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 70px;
    margin-right: 70px;
   padding-bottom: 50px;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}





.social1 {
    background-color: aqua;
    /* border: 3px solid yellowgreen; */
    height: 450px;
    margin-bottom: 20px;
    display: grid;
    margin-top: 20px;
   
  }
  
  .social1 .container1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    
    /* border: 3px solid blue; */
  }
  
  /* usar este bloco para explicar margin e padding*/
  .social1 .titulo1 {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: center;
    
  }
  
  .social1 h2 {
    display: flex;
   
    border-radius: 200px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: black;
    margin: 0;
    padding: 20px;
    margin: auto;
    padding: auto;
   
    /* border: 3px solid orange; */
  }
  
  .social1 .boxes1 {
    display: flex;
    /* border: 3px solid blue; */
  }
  
  .social1 .box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
    /* border: 3px solid yellow; */
  }
  
  .social1 .box1 img {
    width: 150px;
    align-self: center;
  }
  
  .social1 .box1 h4 {
    color: black;
    margin-top: 30px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }





  .social2 {
    background-color: aqua;
    /* border: 3px solid yellowgreen; */
    height: 450px;
  margin-bottom: 20px;
    display: grid;
    margin-top: 20px;
    border-bottom: #161618;
  }
  
  .social2 .container2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 20px;
    
    /* border: 3px solid blue; */
  }
  
  /* usar este bloco para explicar margin e padding*/
  .social2 .titulo2 {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: center;
    
  }

  
.social2 h2 {
    display: flex;
   
    border-radius: 200px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: black
    margin: 0;
    /* border: 3px solid orange; */
  }
  
  .social2 .boxes2 {
    display: flex;
    /* border: 3px solid blue; */
  }
  
  .social2 .box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
    /* border: 3px solid yellow; */
  }
  
  .social2 .box2 img {
    width: 150px;
    align-self: center;
  }
  
  .social2 .box2 h4 {
    color: black;
    margin-top: 30px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }




.social3 {
    background-color: aqua;
    /* border: 3px solid yellowgreen; */
    height: 450px;
  margin-bottom: 20px;
    display: grid;
    margin-top: 20px;
    padding-top: 20px;
  }




  
  .social3 .container3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 20px;
    
    /* border: 3px solid blue; */
  }
  
  /* usar este bloco para explicar margin e padding*/
  .social3 .titulo3 {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: center;
    
  }

  
.social3 h2 {
    display: flex;
   
    border-radius: 200px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: black
    margin: 0;
    /* border: 3px solid orange; */
  }
  
  .social3 .boxes3 {
    display: flex;
    /* border: 3px solid blue; */
  }
  
  .social3 .box3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
    /* border: 3px solid yellow; */
  }
  
  .social3 .box3 img {
    width: 150px;
    align-self: center;
  }
  
  .social3 .box3 h4 {
    color: black;
    margin-top: 30px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }



  .social4 {
    background-color: aqua;
    /* border: 3px solid yellowgreen; */
    height: 450px;
  margin-bottom: 20px;
    display: grid;
    padding-bottom: 50px;
  }
  
  .social4 .container4 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 40px;
    padding-bottom: 50px;
    
    /* border: 3px solid blue; */
  }
  
  /* usar este bloco para explicar margin e padding*/
  .social4 .titulo4 {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }

  
.social4 h2 {
    display: flex;
   
    border-radius: 200px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: black
    margin: 0;
    /* border: 3px solid orange; */
  }
  
  .social4 .boxes4 {
    display: flex;
    /* border: 3px solid blue; */
  }
  
  .social4 .box4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
    /* border: 3px solid yellow; */
  }
  
  .social4 .box4 img {
    width: 150px;
    align-self: center;
  }
  
  .social4 .box4 h4 {
    color: black;
    margin-top: 30px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }








  .social5 {
    background-color: aqua;
    /* border: 3px solid yellowgreen; */
    height: 450px;
  margin-bottom: 20px;
    display: grid;
    
  }
  
  .social5 .container5 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
    
    /* border: 3px solid blue; */
  }
  
  /* usar este bloco para explicar margin e padding*/
  .social5 .titulo5 {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: center;
   
    
  }

  
.social5 h2 {
    display: flex;
   
    border-radius: 200px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: black
    margin: 0;
    /* border: 3px solid orange; */
  }
  
  .social5 .boxes5 {
    display: flex;
    /* border: 3px solid blue; */
  }
  
  .social5 .box5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
    /* border: 3px solid yellow; */
  }
  
  .social5 .box5 img {
    width: 150px;
    align-self: center;
  }
  
  .social5 .box5 h4 {
    color: black;
    margin-top: 30px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


.boxes1 .box1 .mudar_botao1{
    color: white;
    background: blue;
    transition: transform 1s;
    transform: translateX(0) 
    
   }

   .boxes1 .box1 .mudar_botao1:hover,
   .boxes1 .box1 .mudar_botao1:focus {
    background: red;
    transform: translateX(12px) scale(1.5);
    
  }


  .boxes2 .box2 .mudar_botao2{
    color: white;
    background: blue;
    transition: transform 1s;
    transform: translateX(0) 
    
   }

   .boxes2 .box2 .mudar_botao2:hover,
   .boxes2 .box2 .mudar_botao2:focus {
    background: red;
    transform: translateX(12px) scale(1.5);
    
  }


  .boxes3 .box3 .mudar_botao3{
    color: white;
    background: blue;
    transition: transform 1s;
    transform: translateX(0) 
    
   }

   .boxes3 .box3 .mudar_botao3:hover,
   .boxes3 .box3 .mudar_botao3:focus {
    background: red;
    transform: translateX(12px) scale(1.5);
    
  }


  .boxes4 .box4 .mudar_botao4{
    color: white;
    background: blue;
    transition: transform 1s;
    transform: translateX(0) 
    
   }

   .boxes4 .box4 .mudar_botao4:hover,
   .boxes4 .box4 .mudar_botao4:focus {
    background: red;
    transform: translateX(12px) scale(1.5);
    
  }


  .boxes5 .box5 .mudar_botao5{
    color: white;
    background: blue;
    transition: transform 1s;
    transform: translateX(0) 
    
   }

   .boxes5 .box5 .mudar_botao5:hover,
   .boxes5 .box5 .mudar_botao5:focus {
    background: red;
    transform: translateX(12px) scale(1.5);
    
  }